/* footer样式 */
#footer {
    background: #fff;
    /* background: #fff url("/images/footer.jpg"); */
    /* opacity: 0.3; */
}
#footer-wrap {
    padding: 20px 20px;
    /* color: var(--light-grey); */
    color: #000;
}
#footer-wrap a{
    color: #49b1f5;
}